@page "/counter"
@rendermode InteractiveServer

<PageTitle>Számláló</PageTitle>
<!-- markup törzs  ide irjuk be a HTML code-okat-->
<h1>Számláló</h1>

<p role="status">Jelenlegi érték: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Ide kattints</button>
<!-- markup törzs-->
@code {

    //[Parameter ] //0sszetevő paraméter : paraméter, sply, fromform,  regex ... 
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
