@page "/ismerkedes"
@attribute [StreamRendering]

<h3>Ismerkedés</h3>
<p>
    A Blazor egy Microsoft által fejlesztett webes keretrendszer, amivel könnyen tudunk webes one-page alkalmazásokat fejleszteni. Ezzel a keretrendszerrel akár teljesen elkerülhető, hogy Javascript kódot írjunk – de azért persze van rá lehetőség. Egyelőre két verzió elérhető ebből a keretrendszerből: a Blazor Server és a Blazor WebAssembly.

    Ez a két verzió még mindig inkább a webes irányba húz, de a Microsoft saját bevallása szerint mobil irányba tervezi tovább a Blazor jövőjét. A Blazor WebAssembly-nek is csak az előzetes verziója elérhető, ami azt jelenti, hogy egyenlőre csak magáncélú kísérletezésre ajánlják.
</p>

<a href="https://crane.hu/mit-tud-a-blazor-webes-keretrendszer" class="btn btn-outline-secondary mb-5" target="_blank">A blazorról</a>

<!-- komponensek megnyitása-->
<Counter/>

<!-- markup törzs-->
@code {

    //[Parameter ] //0sszetevő paraméter : paraméter, sply, fromform,  regex ...
}
